<%- include('includes/head.ejs') %>
  
</head>
<body>
  <%- include('includes/header.ejs') %>

  <main>
    <%- include('includes/messages.ejs') %>
    
      <div class="memory">
            <h2><%= memory.title %></h2>
            <img src="<%= memory.imageUrl %>" alt="" srcset="">
            <p><i>GPS Posicion: <%= memory.gps %></i></p>
            <p>Comment:<%= memory.comment %></p>
            <div class="buttons">
                <a href="/edit-memory/<%= memory._id %>" class="link-button">Edit</a>
                <a href="/delete-memory/<%= memory._id %>" class="link-button">Delete</a>
                <a href="/" class="link-button">Go back</a>
            </div>
        </div>
  </main>

  <%- include('includes/footer.ejs') %>