  <%- include('includes/head.ejs') %>
  
  </head>
  <body>
    <%- include('includes/header.ejs') %>

    <main>
      <h1>Home</h1>
        <div class="memories">
          <% for (let index of memories.keys()) { %>
            <div class="memory">
              <h2><%= memories[index].title %></h2>
              <img src="<%= memories[index].imageUrl %>" alt="" srcset="">
              <p><i>GPS Posicion: <%= memories[index].gps %></i></p>
              <p>Comment:<%= memories[index].comment %></p>
              <div class="buttons">
                <button type="submit">View</button>
                <button type="submit">Edit</button>
              </div>
            </div>
          <% } %>
        </div>
      
    </main>

    <%- include('includes/footer.ejs') %>