  <%- include('includes/head.ejs') %>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
    <%- include('includes/header.ejs') %>

    <main>

      <%- include('includes/messages.ejs') %>

      <% if(memories.length > 0) { %>
        <div id="map"></div>
      <% } %>
      
      <h1>Memories</h1>
        <div class="memories">
          <% for (let memory of memories) { %>
            <div class="memory">
              <h2><%= memory.title %></h2>
              <img src="<%= memory.imageUrl %>" alt="" srcset="">
              <p><i>GPS Posicion: <%= memory.gps %></i></p>
              <h5><%= memory.comment %></h5>
              <div class="buttons">
                <a href="/detail-memory/<%= memory._id %>" class="link-button">View</a>
                <a href="/edit-memory/<%= memory._id %>" class="link-button">Edit</a>
              </div>
            </div>
          <% } %>
        </div>
      
    </main>

    <%- include('includes/footer.ejs') %>
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>

    <script src="js/map.js"></script>